@model thcp.Models.Department

@{
    ViewData["Title"] = "Detalles Aspirante";
}

<h1 class="nav-link text-success" ><i class="fas fa-file-alt"></i>Detalles Aspirante</h1>

<div>
    <h4>Detalles Aspirante</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentNumero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentNumero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentDetalle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentDetalle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentSexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentSexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentTelefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentTelefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentEdad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentEdad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentEducacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentEducacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentEspecialidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentEspecialidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentIdioma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentIdioma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentSalario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentSalario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentRecursos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentRecursos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentPuesto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentPuesto)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.DepartmetId"><i class="fas fa-pencil-ruler"></i> Editar</a>
    <a asp-action="Index" class="btn btn-success"><i class="fas fa-backward"></i> Regresar</a>
</div>