@model IEnumerable<thcp.Models.Position>

@{
    ViewData["Title"] = "Vacantes Disponibles";
}

<h1 class="nav-link text-success" ><i class="fas fa-person-booth"></i> Vacantes Disponibles</h1>

<p>
    <a asp-action="Create" class="btn btn-warning" ><i class="fas fa-file-alt"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody bacground-color="cyan">

            <hr />

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-dark" asp-route-id="@item.PositionId"><i class="fas fa-edit"></i>Editar Informacion Vacante</a> |
                        <a asp-action="Details" class="btn btn-success" asp-route-id="@item.PositionId"><i class="fas fa-file-alt"></i>Detalles Vacante</a> |
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.PositionId"><i class="fas fa-trash"></i>Eliminar Vacante</a>
                    </td>
                </tr>
            }
</tbody>
</table>
